<div id="blog-list">
    <div class="post">
            <h2>{{post.title}}</h2>
            <h3>{{post.categoryName}}</h3>
            <h3>{{post.userNameFirst}}</h3>
            <h3>{{post.userNameLast}}</h3>
            <p>{{post.content}}</p>
            <h5>{{post.createdAt | date:'short'}}</h5>
            <div class="button-block">
                <button class="standard-button" ng-click="goToUpdate()">Update</button>
                <button class="standard-button red" ng-click="deletePost()">Delete</button>
            </div>
    </div>
</div>